.author-item {
  align-items: center;
  display: flex;
  height: 30px;
  justify-content: space-between;
  padding: 5px;
}

.author {
  cursor: pointer;
  display: inline-block;
  margin-right: 20px;
}

.remove-author {
  border: none;
  background: none;
  color: grey;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  line-height: 25px;
  margin-left: 5px;
  outline: none;
  transition: transform 0.2s ease;
  user-select: none;
}

.remove-author:hover {
  color: red;
  transform: scale(2);
}

.buttons-bar {
  display: none;
}

.selected {
  display: inline-block;
  background-color: #ffff00;
}