.authors {
  margin: 10px;
  border: 1px solid #d0d0d0;
  padding: 10px;
}

.author {
  padding: 10px;
  border: 1px solid #d0d0d0;
  margin-bottom: 5px;
}

.authors__head {
  margin-bottom: 10px;
}

.authors__update {
  background: #555;
  border: none;;
  color: #fff;
  padding: 10px;
}

.author:last-child {
  margin-bottom: 0;
}

.author__name {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 5px;
}

.author:not(.changing) .author__name input,
.author:not(.changing) .author__edit-change {
  display: none;
}

.author.changing .author__name span, 
.author.changing .author__edit-edit {
  display: none;
}