body {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.item {
  display: inline-block;
  font-weight: bold;
  margin: 0;
  cursor: pointer;
}

.item .edit,
.item .delete {
  display: none;
  color: red;
  font-size: x-small;
}

.item:hover .edit,
.item:hover .delete {
  display: inline;
}

.selected {
  border: 1px solid rebeccapurple;
  color: dodgerblue;
}

.listItems {
  height: 250px;
}
